@use "./variables" as*;
@use "./mixin" as *;



/*HEADER*/

header {
    background-color:#c3d1da; 
    nav ul {
        list-style: none;
        display: flex;
        gap: 20px;
        margin: 0;
        padding: 0;
        li a {
            @include link-estilo;
            font-weight: 500;
            
        }
    }
}


/*FOOTER*/

footer {
    background-color: #f8f8f8; 
    padding: 30px;
    text-align: center;
        img {
        max-width: 150px;
        height: auto;
        margin-bottom: 4px;
    }

    .contact-links {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        .contact-item {
            display: flex;
            align-items: center;
            gap: 10px;
            @include link-estilo;
          }
          img.icon {
            width: 20px;
            height: 20px;
        
          }
      }
  }

 
