@use "./variables" as*;


html, body {
  width: 100%;
  overflow-x: hidden;
  
}

h1{
    color: $amarillo;
    text-align: center;
    font-size: 1.5rem;
    margin: 20px;
    font-weight: bold;
    
   
    
}

h2 {
    color:$azuloscuro;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 30px;
    
    
}



/* ESLOGAN HOME */

    .eslogan {
        padding: 10px;
        font-style: italic;

        h1{
            @extend h1;
        
        }
    }



/* SERVICIOS */

.servicios-home{
    h1{
        @extend h1;
    }
    h2 {
        @extend h2;
    }
}

.servicios-container {
    display: flex;
    justify-content: center; 
    margin-top: 50px;
    .servicio {
        text-align: center;
        width: 160px; 
    }
    .servicio img {
        width: 70%; 
        height: auto; 
        border-radius: 10px; 
    }
    h3 {
        
        text-align: center;
        font-size: 20px; 
    }
    .btn-mimarca {
    background-color: $azulgrisaseo; 
    color: $azuloscuro;              
    border: none;
    font-weight: bold;
    transition: 0.3s;
    }

}

/*TESTIMONIOS*/

.testimonios-container {
    display: flex;
    flex-direction: column;  
    align-items: center; 
    justify-content: center;
    margin-top: 40px;
    .testimonio {
        background-color: #c3d1da; 
        border-left: 5px solid $amarillo; 
        padding: 20px;
        margin: 15px;
        max-width: 600px; 
        font-style: italic;
        font-size: 1.125rem;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
        border-radius: 8px; 
      }
      
      .testimonio p {
        margin: 0;
        color:$azuloscuro; 
      }
  }

/*FORMULARIO DE CONTACTO*/

.contacto-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;

    .texto-contacto {
        text-align: center;
        color: $azuloscuro;
        font-size: 1rem;

        h1 {
            font-size: 2.5rem;
            margin-bottom: 0.5rem;
          }

          h2 {
            font-size: 1rem;
            color: #666;
          }  
      }

      
  }

  .formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    gap: 1.5rem;

    .formulario-grupo {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 0.5rem;
            font-size: 1rem;
            color: $azuloscuro;
          }
    
          input,
          textarea {
            padding: 0.8rem;
            border: 1px solid #ccc;
            border-radius: 8px;
            font-size: 1rem;
          }
      }
  }







  
    
  
  
