//
@use "./variables" as*;

.sobre-mi {
  padding: 2rem;
  background-color: white;
  
}
  .grid-sobre-mi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    place-items: center;
    text-align: center;
    

    grid-template-areas:
      "foto-perfil texto-sobre-mi"
      "texto-logros foto-trabajando";

    .foto-perfil {
      grid-area: foto-perfil;
    }

    .texto-sobre-mi {
      grid-area: texto-sobre-mi;
      text-align: justify;
    }

    .texto-logros {
      h2{
        font-size: 2rem;
        color:$azuloscuro;
        font-weight: bold;
      }
      grid-area: texto-logros;
      text-align: justify;
      
    }

    .foto-trabajando {
      grid-area: foto-trabajando;
    }
  }

  .imagen-circular {
    max-width: 70%;
    height: auto;
  }




