//
@use "./variables" as*;

.sobre-mi {
  padding: 2rem;
  background-color: white;

  .grid-sobre-mi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    align-items: start;

    grid-template-areas:
      "foto-perfil texto-sobre-mi"
      "texto-logros foto-trabajando";

    .foto-perfil {
      grid-area: foto-perfil;
    }

    .texto-sobre-mi {
      grid-area: texto-sobre-mi;
    }

    .texto-logros {
      grid-area: texto-logros;
    }

    .foto-trabajando {
      grid-area: foto-trabajando;
    }
  }

  .imagen-circular {
    max-width: 100%;
    height: auto;
  }
}